{% extends "index.html" %}
{% block start %}
{% load static %}
{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


<div class="flex items-start justify-between">
    <div class="flex flex-col items-center w-1/2">
        <canvas id="categoryChart" width="800" height="400">{{ graph_data|json_script:"graph-data" }}</canvas>   
        <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Note</th>
              </tr>
            </thead>
            {% for category in user_categories %}
            <tbody>
              <tr>
                <td>{{ category.monthly_expenses.end_date|date:"M Y" }}</td>
                <td>{{ user.userpreferences.currency_symbol }} {{ category.amount }}</td>
                <td>{{ user.userpreferences.currency_symbol }} {{ category.latest }}</td>
                <td>
                  {% if category.note %}
                    <span title="{{ category.note }}">Note</span>
                  {% endif %}
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
    </div>
  
    <div class="w-1/2">    
        <canvas id="mixedChart" width="800" height="400">{{ graph_data|json_script:"graph-data" }}</canvas>  
    </div>    
</div>
 
<div class="overflow-x-auto">
    
</div>




{% block script %}
<script src="{% static 'js/category_chart.js' %}"></script>
{% endblock %}
{% endblock %}