{% extends "index.html" %}
{% block start %}
<form method="post" action="{% url 'categories' %}">
{% csrf_token %}
<div class="flex flex-col items-center justify-center">
    <!-- Add a Category Section -->
    <div class="flex flex-col items-center w-full max-w-xs mb-4">
        <input type="text" name="name" placeholder="Rent" class="input input-bordered w-full" required />
    </div>

    <!-- Note Section -->
    <div class="flex flex-col items-center w-full max-w-xs">
        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">Note</span>
            </div>
            <textarea class="textarea textarea-bordered h-24 w-full" name="note" placeholder="I would rather not pay it"></textarea>
        </label>
        <button type="submit" class="btn btn-primary mt-4">Add category</button>
    </div>
</div>
</form>
<br>
<div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Note</th>
        </tr>
      </thead>
      {% for category in categories %}
      <tbody>
        <tr>
          <td>
          <a  href="#" class="btn btn-outline">{{ category.name }}</a>
          </td>
          <td>{{ category.note }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
{% endblock %}