{% extends "index.html" %}
{% block start %}

<ul class="steps">
    <li class="step step-primary">Payday</li>
    <li class="step step-primary">Variable Costs</li>
    <li class="step">Fixed Costs</li>
    <li class="step">Review</li>
</ul>
<br>
<div class="flex items-center justify-between">
    
    <div class="flex flex-col items-center w-1/2">
        <div class="flex justify-center space-x-10">
        <div class="stats shadow">
            <div class="stat">
              <div class="stat-title">Salary</div>
              <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ payday.amount }}</div>
            </div>
          </div>
        </div>  
        <br>
        <!-- Transaction Input Form -->
        <form id="transaction-form" method="POST" action="{% url 'add_transaction' %}">
            {% csrf_token %}
            <input type="number" name="amount" id="amount" class="input input-bordered w-full mb-2" placeholder="{{ user.userpreferences.currency_symbol }} 0.00" step="0.001" required>
            <input type="hidden" name="monthly_expense_id" id="monthly_expense_id" value="{{ monthly_expense_id }}">
            {% for category in categories %}
              <div class="form-control">
                <label class="label cursor-pointer">
                  <span class="label-text">{{ category.name }}</span>
                  <input type="checkbox" class="checkbox" name="categories" id="categories" value="{{ category.id }}" />
                </label>
              </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary w-full">Add Transaction</button>
            <br>
            <br>
        </form>
        <form method="POST" action="{% url 'payday_fixed_costs' payday_id=payday.id monthly_expense_id=monthly_expense_id %}">
            {% csrf_token %}
            <input type="hidden" name="monthly_expense_id" id="monthly_expense_id" value="{{ monthly_expense_id }}">
            <div class="flex-1">
                <button type="submit" name="to_fixed_costs" class="btn btn-accent w-full">to Fixed Costs</a>
            </div>
        </form>
    </div>

    <!-- Display Transactions -->
    <div class="w-1/2">
        <div id="transactions-container">
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="transaction-table-body">
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ user.userpreferences.currency_symbol }} {{ transaction.amount|floatformat:2 }}</td>
                            <td>{{ transaction.category.name }}</td>
                            <td>
                                <form action="{% url 'delete_transaction' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="payday_id" value="{{ payday.id }}">
                                    <input type="hidden" name="monthly_expense_id" value="{{ monthly_expense_id }}">
                                    <button type="submit" class="btn btn-error" name="transaction_id" value="{{ transaction.id }}">
                                      <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('transaction-form').addEventListener('submit', function(event) {
    event.preventDefault();  // Prevent default form submission

    const amount = document.getElementById('amount').value;
    const monthly_expense_id = document.getElementById('monthly_expense_id').value;        
    const category = document.getElementById('categories').value;

    const formData = new FormData();
    formData.append('amount', amount);
    formData.append('monthly_expense_id', monthly_expense_id);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    const categoryCheckboxes = document.querySelectorAll('input[name="categories"]:checked');
    categoryCheckboxes.forEach(checkbox => {
        formData.append('categories', checkbox.value);  
    });

    fetch('{% url "add_transaction" %}', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // Create a new table row with the transaction data
            const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${data.symbol} ${data.amount}</td>
                    <td>${data.category_name}</td>
                    <td>
                                <form action="{% url 'delete_transaction' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="payday_id" value="{{ payday.id }}">
                                    <input type="hidden" name="monthly_expense_id" value="{{ monthly_expense_id }}">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="${document.querySelector('meta[name="csrf-token"]').content}">
                                    <button type="submit" class="btn btn-error" name="transaction_id" value="${data.transaction_id}">
                                      <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                    </td>
                `;

                // Append the new row to the table body
                document.getElementById('transaction-table-body').appendChild(newRow);
            
            // Clear the input fields
            document.getElementById('amount').value = '';
            // document.getElementById('category').value = '';
        } else {
            alert('Error: ' + data.error);
        }
    })
    .catch(error => console.error('Error:', error));
});
</script>



{% endblock %}