{% extends "index.html" %}
{% block start %}
{% load humanize %}
{% load static %}
{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% if payday_exists %}
{% else %}
<ul class="steps">
  <li class="step {% if steps_completed.account_created %}step-primary{% endif %}">Account created</li>
  <li class="step {% if steps_completed.add_bank %}step-primary{% endif %}">Add a Bank</li>
  <li class="step {% if steps_completed.add_broker %}step-primary{% endif %}">Add a Broker</li>
  <li class="step {% if steps_completed.add_fixed_cost %}step-primary{% endif %}">Add a Fixed Cost</li>
  <li class="step {% if steps_completed.add_investment %}step-primary{% endif %}">Add an Investment</li>
  <li class="step {% if steps_completed.add_categories %}step-primary{% endif %}">Add categories</li>
  {% if  steps_completed.add_categories and steps_completed.add_investment %}
  <li class="step">
    <a href="{% url 'payday' %}" class="btn btn-primary">Add your first payday!</a>
  </li>
  {% else %}
  <li class="step">Add your first payday!</li>
  {% endif %}
</ul>  
{% endif %}

{% if payday_exists %}
<br>
<div class="flex justify-center space-x-10">

    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Net Worth</div>
        <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ last_net_worth.net_worth|floatformat:2|intcomma }}</div>
        <div class="stat-desc">{{ last_net_worth.perc_diff_with_last_month }}% compared to last month</div>
      </div>
    </div>

    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Savings</div>
        <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ last_net_worth.total_savings|floatformat:2|intcomma }}</div>
        <div class="stat-desc">{{ last_net_worth.perc_diff_savings }}% compared to last month</div>
      </div>
    </div>

    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Investments</div>
          <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ total_investments|floatformat:2|intcomma }}</div>
          <div class="stat-desc">{{ last_net_worth.perc_diff_investments }}% compared to last month</div>
        </div>
      </div>

      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Pension</div>
          <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ total_pensions|floatformat:2|intcomma }}</div>
          <div class="stat-desc">{{ last_net_worth.perc_diff_pensions }}% compared to last month</div>
        </div>
      </div>

      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">PAC</div>
          <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ pac.amount|floatformat:2|intcomma }}</div>
          <div class="stat-desc"></div>
        </div>
      </div>
</div>  
<br>
<!-- Charts  -->
<div class="flex items-start justify-between">

    
  <div class="flex flex-col items-center w-1/2">
    <canvas id="netWorthChart" width="800" height="400">{{ graph_data|json_script:"graph-data" }}</canvas> 
    <canvas id="savingsChart" width="800" height="400">{{ graph_data|json_script:"graph-data" }}</canvas>  
  </div>

  <div class="w-1/2">    
    <canvas id="investmentsChart" width="800" height="400">{{ graph_data|json_script:"graph-data" }}</canvas>
    <canvas id="expensesChart" width="800" height="400">{{ graph_data|json_script:"graph-data" }}</canvas> 
  </div>  

</div>
<br>
<!-- Charts  -->
<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}
<div class="flex items-start justify-between">
    <div class="flex flex-col w-1/2">
      <div class="overflow-x-auto">
        <div class="flex items-center justify-center space-x-4 w-full">
          
          <!-- Dropdown for Search Type -->
          <select
            id="searchTypeDropdown"
            class="select select-primary"
            onchange="toggleSelection()"
          >
            <option disabled selected>Looking for a net worth?</option>
            <option value="date">Date</option>
            <option value="note">Note</option>
          </select>
        
          <!-- Month Selection -->
          <div id="dateSelection" class="flex items-center space-x-2 hidden">
            <select class="select select-primary" name="month">
              <option disabled selected>Month</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
        
            <select class="select select-primary" name="year">
              <option disabled selected>Year</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="2027">2027</option>
            </select>
          </div>
        
          <!-- Note Input -->
          <div id="noteSelection" class="hidden">
            <input
              type="text"
              name="note"
              placeholder="Type your note"
              class="input input-bordered"
            />
          </div>
        
          <!-- Search Button -->
          <button
            id="searchButton"
            type="submit"
            class="btn btn-primary hidden"
          >
            Search
          </button>
        </div>
        <br>
      </form>
      {% if not results %}
        <p>I didn't find any net worth for this search</p>
      {% endif %}        
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Net Worth</th>
              <th>Savings</th>
              <th>Investments</th>
              <th>Pensions</th>
              <th>Payday</th>
            </tr>
          </thead>
          {% for net_worth in net_worths %}
          <tbody>
            <!-- row 1 -->
            <tr>
              <td><b>{{ net_worth.payday.payday_date|date:"M-Y" }}</b></td>
              <td>{{ user.userpreferences.currency_symbol }} {{ net_worth.net_worth|floatformat:2|intcomma }}</td>
              <td>{{ user.userpreferences.currency_symbol }} {{ net_worth.total_savings|floatformat:2|intcomma }}</td>
              <td>{{ user.userpreferences.currency_symbol }} {{ net_worth.total_investments|floatformat:2|intcomma }}</td>
              <td>{{ user.userpreferences.currency_symbol }} {{ net_worth.total_pension|floatformat:2|intcomma }}</td>
              <td>
                <a  href="{% url 'monthly_expenses' net_worth.payday.id %}" class="btn btn-outline">{{ net_worth.payday.id }}</a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>

  
  <div class="flex flex-col items-center w-1/2">
    <canvas id="myPieChart" width="200" height="200">{{ graph_data|json_script:"graph-data" }}</canvas>
  </div>  

</div>
{% else %}
<br>

  <div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center w-full max-w-xs mb-4">
      {% csrf_token %}

      {% if not steps_completed.add_bank %}
      <a href="{% url 'banks' %}" class="btn btn-primary w-full h-12 mb-2">Add a Bank</a><br>
      {% endif %}

      {% if not steps_completed.add_broker %}
      <a href="{% url 'brokers' %}" class="btn btn-primary w-full h-12 mb-2">Add a Broker</a><br>
      {% endif %}

      {% if not steps_completed.add_fixed_cost %}
          <a href="{% url 'fixed_costs' %}" class="btn btn-primary w-full h-12 mb-2">Add a Fixed Cost</a><br>
      {% endif %}

      {% if not steps_completed.add_investment %}
          <a href="{% url 'investments' %}" class="btn btn-primary w-full h-12 mb-2">Add an Investment</a><br>
      {% endif %}

      {% if not steps_completed.add_categories %}
          <a href="{% url 'categories' %}" class="btn btn-primary w-full h-12 mb-2">Add Categories</a><br>
      {% endif %}
    </div>
  </div>


{% endif %}

{% block script %}
<script src="{% static 'js/home_charts.js' %}"></script>
<script>
  function toggleSelection() {
  const dropdown = document.getElementById('searchTypeDropdown');
  const dateSelection = document.getElementById('dateSelection');
  const noteSelection = document.getElementById('noteSelection');
  const searchButton = document.getElementById('searchButton');

  if (dropdown.value === 'date') {
    dateSelection.classList.remove('hidden');
    noteSelection.classList.add('hidden');
    searchButton.classList.remove('hidden'); // Ensure button appears
  } else if (dropdown.value === 'note') {
    noteSelection.classList.remove('hidden');
    dateSelection.classList.add('hidden');
    searchButton.classList.remove('hidden'); // Ensure button appears
  } else {
    dateSelection.classList.add('hidden');
    noteSelection.classList.add('hidden');
    searchButton.classList.add('hidden'); // Hide button if no selection
  }
}
</script>
{% endblock %}
{% endblock %}