{% extends "index.html" %}
{% block start %}

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="flex justify-center">
    <ul class="timeline">
        <!-- Start Date -->
        <li>
            <div class="timeline-start timeline-box">{{ monthly_expenses.start_date }}</div>
            <div class="timeline-middle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="text-primary h-5 w-5">
                    <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <hr class="bg-primary flex-grow h-[2px]" />
        </li>

        <!-- End Date -->
        <li>
            <hr class="bg-primary flex-grow h-[2px]" />
            <div class="timeline-middle flex items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="text-primary h-5 w-5">
                    <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="timeline-start timeline-box text-center">{{ monthly_expenses.end_date }}</div>
        </li>
    </ul>
</div>

<div class="flex justify-center space-x-10">
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Salary</div>
        <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ monthly_expenses.payday.amount }}</div>
        
      </div>
    </div>

    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Expenses</div>
          <div class="stat-value">- {{ user.userpreferences.currency_symbol }} {{ monthly_expenses.amount }}</div>
          
        </div>
    </div>

    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Monthly Net</div>
          <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ monthly_net }}</div>
          
        </div>
    </div>

    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Utilities</div>
          <div class="stat-value">- {{ user.userpreferences.currency_symbol }} {{ monthly_expenses.utilities }}</div>
          
        </div>
      </div>

      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Groceries</div>
          <div class="stat-value">- {{ user.userpreferences.currency_symbol }} {{ monthly_expenses.groceries }}</div>
          
        </div>
      </div>

      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Misc</div>
          <div class="stat-value">- {{ user.userpreferences.currency_symbol }} {{ monthly_expenses.misc }}</div>
          
        </div>
      </div>      
</div>

<br>

{% if notes %}

<div class="collapse collapse-arrow bg-base-200 mb-4">
    <input type="checkbox">
    <div class="collapse-title text-xl font-medium">
        Notes
    </div>

    <div class="collapse-content">
        <p>{{notes.Payday}}</p>
        <p>{{notes.MonthlyExpenses}}</p>
        <p>{{notes.NetWorth}}</p>  
    </div>
    
</div>

{% endif %}

<br>
<div class="flex items-start justify-start">
    <!-- Left table -->
    <div class="flex flex-col items-right w-1/2">
        <div class="overflow-x-auto">
            <h3>Categories</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Amount</th>
                        <th>Transactions</th>
                        <th>Diff last month</th>
                        <th>Note</th>
                    </tr>
                </thead>
                {% for category in categories %}
                <tbody>
                    <tr>
                        <td>
                            <a href="#">{{ category.name }}</a>
                        </td>
                        <td>{{ user.userpreferences.currency_symbol }} {{ category.amount }}</td>
                        <td>{{ category.transactions_count }}</td>
                        <td>{{ user.userpreferences.currency_symbol }} {{ category.difference_with_last_month|floatformat:2 }}</td>
                        <td>
                            {% if category.note %}
                              <span title="{{ category.note }}">Note</span>
                            {% endif %}
                          </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

    <!-- Right table -->
    <div class="flex flex-col items-left w-1/2">
        <div class="overflow-x-auto">
            <h3>Fixed Costs</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Amount</th>
                        <th>Diff last month</th>
                        <th>Note</th>
                    </tr>
                </thead>
                {% for fixed_cost in fixed_costs %}
                <tbody>
                    <tr>
                        <td>
                            <a href="#">{{ fixed_cost.name }}</a>
                        </td>
                        <td>{{ user.userpreferences.currency_symbol }} {{ fixed_cost.amount }}</td>
                        <td>{{ user.userpreferences.currency_symbol }} {{ fixed_cost.difference_with_last_month|floatformat:2 }}</td>
                        <td>
                            {% if fixed_cost.note %}
                              <span title="{{ fixed_cost.note }}">Note</span>
                            {% endif %}
                          </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<br>
<div class="flex flex-col items-center">
    <h3>Transactions</h3>
</div>
<br>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Note</th>
            </tr>
        </thead>
        {% for transaction in transactions %}
        <tbody>
            <tr>
                <td>
                    <a href="#">{{ transaction.id }}</a>
                </td>
                <td>{{ user.userpreferences.currency_symbol }} {{ transaction.amount }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.note }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}