{% extends "index.html" %}
{% block start %}

<ul class="steps">
  <li class="step step-primary">Payday</li>
  <li class="step step-primary">Variable Costs</li>
  <li class="step step-primary">Fixed Costs</li>
  <li class="step">Deductions</li>
  <li class="step">Investments</li>
  <li class="step">Pension</li>
   <li class="step">Savings</li>
  
</ul>
<br>
<form method="POST" action="{% url 'payday_fixed_costs' payday_id=payday.id monthly_expense_id=monthly_expense_id %}">
  {% csrf_token %}
  <div class="flex items-center justify-between">
    <div class="flex flex-col items-center w-1/2">
      <div class="flex justify-center space-x-10">
        <div class="stats shadow">
            <div class="stat">
              <div class="stat-title">Salary</div>
              <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ payday.amount }}</div>
            </div>
          </div>
          <div class="stats shadow">
            <div class="stat">
              <div class="stat-title">Variable costs</div>
              <div class="stat-value">- {{ user.userpreferences.currency_symbol }} {{ variable_costs }}</div>
            </div>
          </div>
        </div>  
      <br>  
      <div class="flex-1">
        <button class="btn btn-primary">Continue</button>
      </div>
    </div>

    <div class="w-1/2">
      <div id="transactions-container">
          <div class="overflow-x-auto">
            <h3>Fixed Costs</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for fixed_cost in user_fixed_costs %}
                <tr class="hover">
                  <td>{{ fixed_cost.name }} {{ fixed_cost.monthly_expenses.id }}</td>
                  <td>
                    <input type="hidden" name="fixed_cost_id" value="{{ fixed_cost.id }}">
                    <input type="number" name="new_amount" value="{{ fixed_cost.amount }}" class="input w-full max-w-xs" step="0.01" />
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}