{% extends "index.html" %}
{% block start %}

<div class="flex items-center justify-center">

    <div class="flex flex-col items-center">

        <h1 class="mb-4">Great!</h1>

        <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">How much did you earn ?</span>
            </div>
            <input type="text" placeholder="Currency" class="input input-bordered w-full max-w-xs" />
        </label>
        
        <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">When ?</span>
            </div>
            <input type="text" placeholder="Actual date" class="input input-bordered w-full max-w-xs" />
        </label>

    </div>
        

</div>

{% endblock %}