{% extends "index.html" %}
{% block start %}

<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Amount</th>
          <th>Note</th>
        </tr>
      </thead>
      {% for payday in paydays %}
      <tbody>
        <!-- row 2 -->
        <tr class="hover">
          <th>
            <a  href="{% url 'monthly_expenses' %}" class="btn btn-outline">{{ payday.payday_date|date:"M. j, Y" }}</a>
          </th>
          <td>{{ payday.amount }}</td>
          <td>{{ payday.note }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

{% endblock %}