{% extends "index.html" %}
{% block start %}

<ul class="steps">
  <li class="step step-primary">Payday</li>
  <li class="step step-primary">Variable Costs</li>
  <li class="step step-primary">Fixed Costs</li>
  <li class="step step-primary">Deductions</li>
  <li class="step step-primary">Investments</li>
  <li class="step step-primary">Pension</li>
  <li class="step step-primary">Savings</li>
  <li class="step step-primary">Review</li>
</ul>
<br>
<div class="flex justify-center space-x-10">

    <div class="flex flex-col items-center w-1/2">

        <div class="flex justify-center space-x-10">
            <div class="stats shadow">
                <div class="stat">
                <div class="stat-title">Salary</div>
                <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ payday.amount }}</div>
                </div>
            </div>

            <div class="stats shadow">
            <div class="stat">
                <div class="stat-title">Deductions</div>
                <div class="stat-value">{{ user.userpreferences.currency_symbol }} {{ deductions }}</div>
            </div>
        </div>
            
            <div class="stats shadow">
                <div class="stat">
                    <div class="stat-title">Fixed Costs</div>
                    <div class="stat-value">- {{ user.userpreferences.currency_symbol }} {{ total_fixed_costs }}</div>
                </div>
            </div>

            <div class="stats shadow">
            <div class="stat">
                <div class="stat-title">Variable costs</div>
                <div class="stat-value">- {{ user.userpreferences.currency_symbol }} {{ variable_costs }}</div>
            </div>
            </div>

        </div>
        <br>

        <div class="flex items-center justify-center">
            <div class="collapse bg-base-200">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">Transactions</div>
                <div class="collapse-content">
                    {% for transaction in transactions %}
                    <p>{{ transaction.amount }}</p>
                    {% endfor %}
                </div>
              </div>
        </div>
        <br>
        <!-- Continue Button -->
    <div class="flex-1">
        <button class="btn btn-primary">Continue</button>
    </div>

    </div>
</div>

{% endblock %}