{% extends "index.html" %}
{% block start %}

<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>ME ID</th>
          <th>Amount</th>
          <th>From</th>
          <th>To</th>
          <th>Note</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for payday in paydays %}
      <tbody>
        <!-- row 2 -->
        <tr class="hover">
          <th>
            <a  href="{% url 'monthly_expenses' payday.id %}" class="btn btn-outline">{{ payday.id }}</a>
          </th>
          <td>{{ payday.monthly_expenses.first.id }}</td>
          <td>{{ payday.amount }}</td>
          <td>
            {{ payday.monthly_expenses.first.start_date|date:"M. j, Y" }}
          </td>
          <td>
            {{ payday.monthly_expenses.first.end_date|date:"M. j, Y" }}
          </td>
          <td>{{ payday.note }}</td>
          <td>
            <form action="{% url 'delete_payday' %}" method="post" onsubmit="return confirm('Are you sure you want to delete this payday?');">
              {% csrf_token %}
              <input type="hidden" name="source" value="{% url 'paydays' %}">
              <button type="submit" class="btn btn-error" name="payday_id" value="{{ payday.id }}">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

{% endblock %}