{% extends "index.html" %}
{% block start %}
{% load static %}

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="flex items-start justify-between">

    
    <div class="flex flex-col items-center w-1/2">
        <div class="flex items-center justify-center">
            <div class="flex flex-col">
                <form method="POST" action="{% url 'settings' %}">
                    {% csrf_token %}
                    <h3>Add custom rules</h3>
    
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                        <span class="label-text">Transactions which note contains this word(s)</span>
                        </div>
                        <input type="text" name="note" placeholder="SuperConveniente" class="input input-bordered w-full max-w-xs" required />
                    </label>
    
                    <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">Will be assigned to this category or fixed cost</span>
                    </div>
                    <select class="select select-primary w-full max-w-xs" name="choose_option">
                        <option disabled selected>Select an Option</option>
                        <optgroup label="Categories">
                            {% for category in categories %}
                            <option value="category-{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Fixed Costs">
                            {% for fixed_cost in fixed_costs %}
                            <option value="fixedcost-{{ fixed_cost.id }}">{{ fixed_cost.name }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>                    
                    </label>
                    <button type="submit" name="add_rule" class="btn btn-primary mt-4 w-1/2">Add rule</button>
                </form>
            </div>
        </div>
        <br>
        <div class="overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th>Rule</th>
                  <th>Note</th>
                  <th>Target</th>
                  <th></th>
                </tr>
              </thead>
              {% for rule in rules %}
              <tbody>
                <tr>
                  <td></td>
                  <td>{{ rule.note }}</td>
                  <td>
                    {% if rule.category %}
                        {{ rule.category.name }}
                    {% elif rule.fixed_cost %}
                        {{ rule.fixed_cost.name }}
                    {% endif %}
                  </td>
                  <th>
                    <form method="POST" action="{% url 'settings' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-error" name="delete_rule" value="{{ rule.id }}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    </form>
                  </th>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
    </div>
  
    <div class="w-1/2">
        <label>Select main investment</label>
        <span class="tooltip-icon" title="It will show up on the pie chart and label in Overview">&#9432;</span>
        <form method="POST">
            {% csrf_token %}
            <select class="select select-primary max-w-xs" name="main_investment">
                {% for investment in investments %}
                <option value="{{ investment.id }}">{{ investment.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-check"></i>
            </button>
        </form>
        <br>
        <label>Select currency symbol</label>
        <form method="POST">
            {% csrf_token %}
            <select class="select select-primary max-w-xs" name="currency_symbol">
                <option value="£">£</option>
                <option value="€">€</option>
                <option value="$">$</option>
            </select>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-check"></i>
            </button>
        </form>
        <br>
        <label>Upload custom data file</label>    
        <form method="post" enctype="multipart/form-data" id="uploadForm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex items-center gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Upload</button>
                <!-- Spinner initially hidden -->
                <span id="loadingSpinner" class="loading loading-spinner text-primary hidden"></span>
            </div>
        </form>
        <br>
        <label>Delete user data</label>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-error" name="delete_data" value="true" onclick="return confirm('Are you sure you want to delete all your data?')">
                Delete
            </button>
        </form>
    </div>  
  
  </div>

{% block script %}
<script src="{% static 'js/spinner.js' %}"></script>
{% endblock %}
{% endblock %}