{% extends "index.html" %}
{% block start %}
<ul class="steps">
    <li class="step step-primary">Payday</li>
    <li class="step step-primary">Variable Costs</li>
    <li class="step">Fixed Costs</li>
    <li class="step">Deductions</li>
    <li class="step">Investments</li>
    <li class="step">Pension</li>
    <li class="step">Savings</li>    
</ul>
<br>
<div class="flex justify-center">
    <h3>Total transactions: {{ user.userpreferences.currency_symbol }} {{ variable_costs }}</h3>
</div>
<div class="flex justify-center">
<form method="POST">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ user.userpreferences.currency_symbol }} {{ transaction.amount }}</td>
                <td>{{ transaction.note }}</td>
                {% for category in user_categories %}
                <td>
                    <label>
                        <input type="hidden" name="transaction_{{ transaction.id }}" value="{{ transaction.id }}">
                        <input type="radio" name="category_{{ transaction.id }}" value="{{ category.id }}" {% if transaction.category == category %}checked{% endif %}>
                        {{ category.name }}
                    </label> 
                </td>
                {% endfor %}
                <td>
                    <button type="submit" class="btn btn-error" name="delete_transaction" value="{{ transaction.id }}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button type="submit" name='to_fixed_costs' class="btn btn-primary mt-4">Save Categories</button>
</form>
</div>
{% endblock %}