#myPieChart {
    width: 450px !important; /* Adjust to your desired width */
    height: 450px !important; /* Adjust to your desired height */
  }

.hidden-row {
    display: none;
  }

body h1 { font-size: 2rem; font-weight: bold; margin-bottom: 1rem; }
body h2 { font-size: 1.75rem; font-weight: bold; margin-bottom: 0.9rem; }
body h3 { font-size: 1.5rem; font-weight: bold; margin-bottom: 0.8rem; }
body h4 { font-size: 1.25rem; font-weight: bold; margin-bottom: 0.7rem; }
body h5 { font-size: 1rem; font-weight: bold; margin-bottom: 0.6rem; }
body h6 { font-size: 0.875rem; font-weight: bold; margin-bottom: 0.5rem; }
  